<h1>Editing Coupon</h1>

<div class="coupon_form">
  <%= render 'form' %>

  <div class="btn btn-primary"><%= link_to 'Show', @coupon %></div>
  <div class="btn btn-primary"><%= link_to 'Back', coupons_path %></div>
</div>
